=pseudo-list($padding: 0, $margin: 0)
  +space($padding, $margin)

  list-style-type: none

=inline-list($padding: 0, $margin: 0)
  +pseudo-list($padding, $margin)

  .list-item
    display: inline-block

=inline-flex
  display: inline-flex
  justify-content: space-between
  width: 100%

=inline-flex-list($padding: 0, $margin: 0)
  +pseudo-list($padding, $margin)
  +inline-flex

=inline-flex-item($width, $weight: 1, $shrink: 1)
  width: $width
  flex:
    basis: $width
    grow: $weight
    shrink: $shrink

=alternating-list($padding: 0, $margin: 0)
  +pseudo-list($padding, $margin)

  .list-item
    padding: 0.25rem 0.5rem

    &:not(:last-of-type)
      border-bottom: 0.0625rem solid rgba($black, 0.1)

    &:nth-of-type(odd)
      background: rgba($white, 0.05)

    &:nth-of-type(even)
      background: rgba($black, 0.05)
