.btn-3d
  @extend %btn-reset
  color: rgba($white, 0.9)
  background-color: $btn-color
  padding: 0.5em
  transition:
    property: box-shadow
    duration: $fast
    timing-function: $cubic
    
  &.btn-3d--top-left
    box-shadow: (-$shadow-dimension) (-$shadow-dimension) 0 0 $shadow-color

    &:hover,
    &:focus
      box-shadow: -$shadow-hover-dimension -$shadow-hover-dimension 0 0 $shadow-color
    
  &.btn-3d--top-center
    box-shadow: 0 (-$shadow-dimension) 0 0 $shadow-color

    &:hover,
    &:focus
      box-shadow: 0 -$shadow-hover-dimension 0 0 $shadow-color

    &:active
      box-shadow: 0 (-$shadow-dimension) 0 0 $shadow-color
    
  &.btn-3d--top-right
    box-shadow: $shadow-dimension (-$shadow-dimension) 0 0 $shadow-color

    &:hover,
    &:focus
      box-shadow: $shadow-hover-dimension -$shadow-hover-dimension 0 0 $shadow-color

    &:active
      box-shadow: $shadow-dimension (-$shadow-dimension) 0 0 $shadow-color
    
  &.btn-3d--middle-left
    box-shadow: (-$shadow-dimension) 0 0 0 $shadow-color

    &:hover,
    &:focus
      box-shadow: -$shadow-hover-dimension 0 0 0 $shadow-color

    &:active
      box-shadow: (-$shadow-dimension) 0 0 0 $shadow-color
    
  &.btn-3d--middle-right
    box-shadow: $shadow-dimension 0 0 0 $shadow-color

    &:hover,
    &:focus
      box-shadow: $shadow-hover-dimension 0 0 0 $shadow-color

    &:active
      box-shadow: $shadow-dimension 0 0 0 $shadow-color
    
  &.btn-3d--bottom-left
    box-shadow: (-$shadow-dimension) $shadow-dimension 0 0 $shadow-color

    &:hover,
    &:focus
      box-shadow: -$shadow-hover-dimension $shadow-hover-dimension 0 0 $shadow-color

    &:active
      box-shadow: (-$shadow-dimension) $shadow-dimension 0 0 $shadow-color
    
  &.btn-3d--bottom-center
    box-shadow: 0 $shadow-dimension 0 $shadow-color

    &:hover,
    &:focus
      box-shadow: 0 $shadow-hover-dimension 0 $shadow-color

    &:active
      box-shadow: 0 $shadow-dimension 0 $shadow-color
    
  &.btn-3d--bottom-right
    box-shadow: $shadow-dimension $shadow-dimension 0 0 $shadow-color

    &:hover,
    &:focus
      box-shadow: $shadow-hover-dimension $shadow-hover-dimension 0 0 $shadow-color

    &:active
      box-shadow: $shadow-dimension $shadow-dimension 0 0 $shadow-color
