body
  position: relative
  width: 100%
  min-height: 100vh
  margin: 0
  overflow: hidden
  overflow-y: auto
  background: $body-bg
  font:
    size: $base-font-unit
    family: $body-font
    weight: $default-weight
