@-ms-viewport
  width: device-width

html
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%
  -ms-overflow-style: scrollbar
  -webkit-tap-highlight-color: transparent

body
  position: relative
  width: 100%
  min-height: 100vh
  margin: 0
  overflow: hidden
  overflow-y: auto

*, *:before, *:after
  box-sizing: border-box
  -webkit-font-smoothing: subpixel-antialiased
  -moz-osx-font-smoothing: grayscale
  -webkit-backface-visibility: hidden

*:focus
  outline: none
