.border-heading
  +spacer-with-border("bottom", $margin-medium, $border-medium, $heading-color)

// Margin
.border-heading-very-small
  margin-bottom: $margin-very-small

.border-heading-small
  margin-bottom: $margin-small

.border-heading-medium
  margin-bottom: $margin-medium

.border-heading-large
  margin-bottom: $margin-large

.border-heading-very-large
  margin-bottom: $margin-very-large

// Border thickness
.border-heading-thin
  border-bottom-width: $border-thin

.border-heading-medium
  border-bottom-width: $border-medium

.border-heading-thick
  border-bottom-width: $border-thick

// Color
.border-heading-body-color
  border-bottom-color: $heading-border-color-body

.border-heading-negative-color
  border-bottom-color: $heading-border-color-negative

.border-heading-warning-color
  border-bottom-color: $heading-border-color-warning

.border-heading-positive-color
  border-bottom-color: $heading-border-color-positive

.border-heading-ignore-color
  border-bottom-color: $heading-border-color-ignore

.border-heading-disabled-color
  border-bottom-color: $heading-border-color-disabled
