.site-aside
  .aside-menu
    +pseudo-list

  .menu-item
    transition:
      property: padding, box-shadow
      duration: $fast
      timing-function: $cubic

    &:not(:last-of-type)
      margin-bottom: 0.5rem

    &.active
      box-shadow: inset 0.125rem 0 0 0 $blue
      padding-left: 0.5rem

  .collapse-btn
    display: block
    width: 100%

+breakpoint($tablet)
  .site-aside
    +inline-flex-item(10rem)

    margin-left: 1rem
    order: 2

  .aside-nav
    position: sticky
    top: 1rem

+breakpoint($desktop)
  .site-aside
    margin-left: 2rem
