.site-footer
  position: fixed
  bottom: 0
  right: 0
  width: 100vw
  color: rgba($white, 0.75)
  background-color: $footer-bg
  padding: 0.5rem
  text-align: center

  a
    color: lighten($blue, 10%)

  .heart-icon
    color: $red

  .fork-icon
    color: lighten($green, 10%)

+breakpoint($tablet)
  .site-footer
    bottom: -1rem
    right: 0
    width: 15rem
    padding: 1rem 1rem 2rem
    background-color: rgba($footer-bg, 0.9)
    border-radius: 0.5rem 0 0 0
    transition:
      property: bottom, background-color
      duration: $fast
      timing-function: $cubic

    &:hover
      bottom: 0
      background-color: $footer-bg
