.card
  +space(1rem, 0 0 1rem)

  background: $white
  border-radius: 0.25rem
  max-height: 200vh
  overflow: hidden
  transition:
    property: max-height
    duration: $fast
    timing-function: $cubic

  &.collapsed
    max-height: 4.5rem

.card-header
  +spacer-with-border("bottom", 1rem, 0.125rem, $orange)

+breakpoint($desktop)
  .card
    margin-bottom: 2rem
